// Place all the styles related to the Channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#popup {
  border-radius: 30px;
  border-color: black;
  border-width: 15px;
  border-style: solid;
}
